package com.cloudoer.${project}.${module}.utils;

import org.springframework.beans.BeanUtils;

/**
 * @author ${author}
 * @version ${version}
 * @since ${date}
 */
public class BeanUtil {

    public static <T> T copyProperties(Object source, T target) {

        BeanUtils.copyProperties(source, target);
        return target;
    }
}