package com.cloudoer.${project}.${module}.exception;

/**
 * @author cobot
 * @version ${version}
 * @since ${date}
 */
public class BizException extends Exception {

    public BizException(){
    }

    public BizException(String message){
        super(message);
    }
}
