package com.cloudoer.${project}.${module}.dao;

import com.cloudoer.${project}.${module}.dao.BaseDAO;
import com.cloudoer.${project}.${module}.model.entity.${EntityName};
import org.apache.ibatis.annotations.Mapper;

/**
 * @author ${author}
 * @version ${version}
 * @since ${date}
 */
@Mapper
public interface ${EntityName}DAO extends BaseDAO<${EntityName}> {
}
