package com.cloudoer.${project}.${module}.service;

import com.cloudoer.${project}.${module}.service.BaseService;
import com.cloudoer.${project}.${module}.model.entity.${EntityName};

/**
 * @author ${author}
 * @version ${version}
 * @since ${date}
 */
public interface ${EntityName}Service extends BaseService<${EntityName}> {
}