<template>
  <router-view></router-view>
</template>

<script>

export default {
  data () {
    return {
    }
  },
  created () {
    this.dispatch()
  },
  computed: {},
  methods: {
    dispatch (searchParams) {
    }
  }
}
</script>
